body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  background: #ffffff;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
}
nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #ffffff;
  padding: 0 5%;
}
.header {
  width: 100%;
  padding-top: 2rem;
  background: #012e57;
  border-bottom: 3px solid #aeacac;
}
.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  gap: 1rem;
}
.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 20px;
  gap: 5px;
}
.flex-col p {
  margin: 0;
  padding: 0;
}

.card {
  background-color: #002647;
  color: #fff; 
  border-radius: 10px;
  box-shadow: 3px 5px 15px #000; 
}

.card h2 {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .grid-box {
    grid-template-columns: 1fr;
    border-bottom: 3px solid #aeacac;
    margin: 0;
  }
  .flex-box {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 500px) {

}
